.ant-layout-header{
    background-color: #ffffff;
    padding: 0 20px;
    line-height: 45px;
    height: 50px;
}
.headerImg img{
    width: 25px;
    margin-right: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
}

.advisory{
    font-size: 13px;
    font-weight: 700;
}
@media only screen and (max-width: 520px)  {
    .header{
         justify-content: space-around;
    }
}
.advisory a{
    color: black !important;
}


.newsletter_table_body, .insight_table_body, .insight_viewAll, .newsletter_viewAll{
    border-left: 4px solid #1692e6;
}

/* .modal_table{
    box-sizing: content-box;
    border-image: linear-gradient(red, yellow, green);
    border-image-slice: 1;
    border-bottom-width: 5px;
    border-bottom-style: solid;
} */