.telegramImg{
    width: 25px;
}
.fintsoInsights{
    padding: 16px 16px;
    background-color: #ffffff;
}
.fintsoInsightsWrapper{
    padding: 30px 17px 6px 17px;
}
.fintsoInsights span{
    margin-left: 8px;
    font-size: 12px;
    font-weight: 700;
    
}
.FintsoChannel{
    color: #1990ff;
    cursor: pointer;
}
.tableOne{
    display: flex;
    
}
.tableHeading{
    padding: 10px 8px;
    display: flex;
    justify-content: space-between;
    
}
.tableHeading span{
    padding: 10px;
}
.model_portfolio{
    padding: 16px 8px 16px 16px;
    width: 60%;
}
.model_portfoli{
    width: 50%;
    padding: 16px 16px 16px 8px;
}
table{
    background-color: #ffffff;
    width: 100%;
}
.model_portfolio tr{
    height: 86px;
}
.model_portfolio tr td{
    border-right: 1px solid #888888;
}
.model_portfoli tr{
    height: 44px;
}
table tr td{
    padding-left: 14px;
}
.thead{
    background-color: #fafafa;
}
th{
    height: 50px;
}
.table_data_heading{
    font-size: 13px;
    font-weight: 700;
}
.table_data_para{
    color: #888888;
    font-size: 11px;
}
.view_all{
    margin-right: 10px;
    font-size: 13px;
    color: #1990ff;
}
.model_portfoli .table_data_para{
    font-weight: 500;
    color: #23c4a3 !important;
    cursor: pointer;
}
.modalYear , .modalValue{
    margin-top: 15px;
  }
thead th{
    height: 40px !important;
}
  
.table_wrapper{
    height: 300px;
    background-color: #ffffff;
}
.table_body{
    background-color: #f7f9fe;
}

.table_thead th{
    text-align: left;
    padding-left: 13px;
    font-weight: 500;
    font-size: 13px;
    color: #818181cf;
}
.News_name{
    font-weight: 700;
    font-size: 12px;
}      
.table_Tags{
    border: 1px solid #aedffe;
    font-size: 10px;
    padding: 1px 5px;
    color:#54aded;
    font-weight: 500;
    padding-bottom: 3px;
}
.table_date{
    font-size: 11px;
    color: #8b8c8c;
}
.download_img{
    width: 19px;
}

.fact_sheet{
    background-color: #ffffff;
}

.fact_sheet_container{
   display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  padding: 25px 40px;

  
}
.fact_sheet_box{
    padding: 17px;
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 0 6px rgb(0 0 0 / 10%);
    border-radius: 4px;
}
.factsheet_img{
    width: 32px;
    margin-right: 12px;
}

.fund_type{
    font-size: 13px;
    font-weight: 700;
}
.fund_Scheme{
  color: #7e7e7e;
  font-size: 12px;
  font-weight: 500;
} 

@media only screen and (max-width: 480px){
    .fact_sheet_container{
        grid-template-columns: auto;
    }
    .tableHeading{
    align-items: center;
    flex-direction: column;
    }
}

@media only screen and (max-width: 768px)  {
  /* .model_heading{
        width: 609px;
    } */
    .table_wrapperr{
        overflow-x: scroll;
    }
 .table_data_para{
    width: 100px;
 }
 .model_portfolio{
    width: 100%;
    overflow-x: scroll;
    padding: 16px;
 }
 .model_portfoli{
    padding: 16px;
 }
 .newsletter_table tr td{
    min-width: 150px;
}
.newsletter_table_wrapper{
    overflow-x: scroll;
}
 .model_portfoli{
    width: 100%;
 }
 .table_head{
    /* width: max-content; */
    background-color: #fafafa;
 }
 .tableOne{
    flex-direction: column;
 }
}

.Modal_table_container{
    margin-top: 30px;
    padding: 15px;

}
.Modal_table_container .performance{
    float: right;
    font-size: 11px;
    color: #1990ff;
    font-weight: 700;
    cursor: pointer;
}
.performance img{
    margin-right: 3px;
    width: 16px;
}
.Modal_table_container table{
    background-color: #fafafa;
}
.Modal_table_container table tbody{
    background-color: #ffffff;
}
.Modal_table_container table tbody tr{
    height: 48px;
}
.Modal_table_container table thead{
    height: 50px;
}
.Modal_table_container table tbody tr td:first-child{
    font-size: 13px;
    font-weight: 700;
}
.Modal_table_container table tbody tr td{
    width: 100px !important;
}
.Modal_table_head th{
    font-size: 13px;
    text-align: left;
    padding-left: 15px;
    
}
.Modal_table_container table tbody tr td:not(:first-child){
    font-size: 13px;
    color: #808080;
}
.allocation_framework{
    padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 13px;
    font-weight: 600;
    font-size: 12px;
    color: #2c3f6e;
    
}
.allocation_framework span{
    color: #3199ff;
    
}
.tags span{
    margin-right: 6px;
}
.para{
    background-color: #fafafa;
}

@media only screen and (max-width: 768px) {
    .Modal_table_container table tbody tr td{
        min-width: 150px;
    }
    .modal_table{
        overflow-x: scroll;
    }
    .newsletter_table_container table tbody tr td{
        min-width: 220px !important;
    }
    
}

.newsletter_table tbody tr td:first-child{
    min-width: 120px;
    font-size: 12px;
    font-weight: 700;
}
.newsletter_table tbody tr td:nth-child(3){
    min-width: 105px;
    
}

.newsletter_table tbody tr td:nth-child(2){
    min-width: 130px;
    
}
.newsletter_table tbody tr:hover , .insight_table_body tbody tr:hover ,
.newsletter_viewAll tbody tr:hover, .insight_viewAll tbody tr:hover{
    background-color: #e6f6ff;
    cursor: pointer;
}

.ant-tooltip-inner{
    font-size: 12px;
    color:#525252 !important;
    background-color: #dfe0e0;
    font-weight: 500;
    min-height: 27px;
    padding: 5px 8px;
    margin-left: 20px;
    margin-top: -16px;
    border-radius: 5px;
}
.ant-tooltip-arrow{
    display: none;
}
/* table tbody{
    background: linear-gradient(#ffffff ,#ffffff), 
    linear-gradient(to right, red, purple);
background-origin: padding-box, border-box;
background-repeat: no-repeat; 
border-bottom: 5px solid transparent;
} */